
@using Makale_Entities.ViewModel
@model KayitModel

<link href="~/Content/login-register.css" rel="stylesheet" />

<div id="login">

    <div class="container-fluid h-custom">
        <div id="login-row" class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 offset-xl-1">
                <div id="login-column" class="col-md-12">
                    <div id="login-box" class="col-md-12">
                        <h3 class="text-center text-info">Login</h3>
                        <br />
                        <br />
                        <br />

                        @using (Html.BeginForm())
                        {

                            <div class="form-group">
                                <div class="cols-sm-12 text-center">
                                    <label for="confirm" class="cols-sm-2 control-label ">Kayıt Formu</label>
                                </div>
                            </div>
                            @Html.ValidationSummary(false)

                            <br />

                            <div class="form-group">

                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                                        @*<input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />*@
                                        @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adınız" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                                        @*<input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />*@
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "E-posta" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                                        @*<input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />*@
                                        @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", placeholder = "Şifreniz", type = "password" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.Sifre2, new { @class = "form-control", placeholder = "Şifre(Tekrar)", type = "password" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center ">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Kayıt Ol">
                            </div>

                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>